{% load static %}<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/landing-base.css' %}">
</head>
<body>
    <ul>
        <li style="float:left" id="logo">
            <a href="/">
                <img src="{% static 'img/home/LogoGeX.png' %}" alt="Home" style="height: 50%">
            </a>
        </li>
		
        {% block nav %}
			{% if user.is_authenticated %}
			<li ><a href="{% url 'logout' %}" id="btn">Logout</a></li>
			{% else %}
			<li ><a href="{% url 'login' %}" id="btn">Login</a></li>
            <li ><a href="{% url 'signup' %}" id="btn">Sign Up</a></li>
			{% endif %}
        {% endblock %}

    
    </ul>
    {% if user.is_authenticated %}
    <p>Welcome {{ user.username }} !!!</p>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>