{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <meta charset="utf-8">
    <title>Gex</title>
  </head>
  <body>
    <ul>
      <li style="float:left" id="logo"><a href="#">
            <img src="{% static 'img/home/LogoGeX.png' %}" alt="Home" style="height: 50%">
          </a>
      <li ><a href="#" id="btn">Login</a></li>
      <li ><a href="#" id="btn">Sign Up</a></li>
    </ul>
    {% block title %}
    <h1>Gex</h1>
    {% endblock %}
  </body>
</html>